<md-dialog flex="30">
  <form ng-cloak>
    <md-toolbar class="light-blue-bg">
      <div class="md-toolbar-tools">
        <h3>{{toDoCtrl.listTitle}}</h3>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <ng-md-icon icon="close" style="fill:white;" size="15"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <form name="list-form">
          <md-input-container>
            <label>List Title</label>
            <input ng-model="selectedList.title" maxlength="20">
          </md-input-container>
          <md-input-container>
            <label>Number of Cards</label>
            <input ng-model="listCardCount" disabled="">
          </md-input-container>

        </form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       CANCEL
      </md-button>
      <md-button ng-click="updateList()">
        UPDATE
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
